### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import os
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
# Displaying data header to get to know what we have
print(purchase_data.dtypes)
purchase_data.head()

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#
total_players = purchase_data["SN"].nunique()
sum_table_players = pd.DataFrame({"Total Players": [total_players]})
sum_table_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Define Variables for Purchasing Analysis Table
unique_items = purchase_data["Item Name"].nunique()
avg_price = purchase_data["Price"].mean()
purchase_id = purchase_data["Purchase ID"].count()
total_spend = purchase_data["Price"].sum()

In [5]:
#Table creation
purch_analysis_table = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price": [avg_price],
    "Number of Purchases": [purchase_id],
    "Total Revenue": [total_spend]
})
#Formatting
purch_analysis_table["Average Price"] = purch_analysis_table["Average Price"].map("${:.2f}".format)
purch_analysis_table["Total Revenue"] = purch_analysis_table["Total Revenue"].map("${:.2f}".format)

purch_analysis_table.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#gender stats
clean_gender = purchase_data.drop_duplicates("SN")
gender_counts = clean_gender["Gender"].value_counts()
total_players = clean_gender["Gender"].count()
gender_percents = (clean_gender["Gender"].value_counts() / total_players) * 100

In [7]:
#Gender Stats DataFrame
gender_counts_df = pd.DataFrame({"Total Count": gender_counts,
                                 "Percentage of Players": gender_percents})
gender_counts_df["Percentage of Players"] = gender_counts_df["Percentage of Players"].map("{:.2f}%".format)
gender_counts_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
#Set up groupby for gender
gender = purchase_data.groupby(["Gender"])

#Calculations based on ask
purchase_count = gender["SN"].count()
purchase_avg = gender["Price"].mean()
purchase_total = gender["Price"].sum()

In [28]:
cleaned_purch = purchase_data.drop_duplicates("SN")
purchase_genders = cleaned_purch.groupby("Gender")

purchase_per_person = purchase_total/(cleaned_purch["Gender"].value_counts())

In [30]:
#Dataframe Creation
purchasing_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                       "Average Purchase Price": purchase_avg,
                                       "Total Purchase Value": purchase_total,
                                       "Avg Total Purchase per Person": purchase_per_person
                                      })
#Formatting Area
purchasing_analysis_df["Average Purchase Price"] = purchasing_analysis_df["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Purchase Value"] = purchasing_analysis_df["Total Purchase Value"].map("${:.2f}".format)
purchasing_analysis_df["Avg Total Purchase per Person"] = purchasing_analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)

purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
#Establish Max Age
max_age = purchase_data["Age"].max()

In [11]:
#Establish Bins
bins = [0,9,14,19,24,29,34,39,max_age]
groups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [12]:
#Drop any duplicate purchasers
cleaned_age = purchase_data.drop_duplicates("SN")

#Setting up groupbys
cleaned_age["Age Group"] = pd.cut(cleaned_age["Age"], bins, labels = groups)
age_group = cleaned_age.groupby(['Age Group'])

#Defining variables for ask
ages = cleaned_age["Age Group"].value_counts()
ages_percentages = (ages / total_players) * 100

C:\Users\connor.roemelt\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [13]:
#DataFrame Creation for Ages Demo
age_group_df = pd.DataFrame({"Total Count": ages,
                             "Percentage of Players": ages_percentages})
#Formatting table
age_group_df["Percentage of Players"] = age_group_df["Percentage of Players"].map("{:.2f}%".format)
age_group_df = age_group_df.reindex(["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"])

age_group_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# Needed to bins to DF with duplicates
purchase_data_dup = purchase_data
purchase_data_dup["Age Group"] = pd.cut(purchase_data_dup["Age"], bins, labels = groups)
purchase_group = purchase_data_dup.groupby(['Age Group'])

In [18]:
# Set up variables
tot_pruchasers = purchase_group["SN"].count()
avg_price = purchase_group["Price"].mean()
tot_price = purchase_group["Price"].sum()
#ages variable grabbed from Ages Demographics section
avg_price_person = tot_price/ages

In [20]:
#DataFrame Creation for Purchasing Analysis (Age)
purch_analysis_age_df = pd.DataFrame({"Purchase Count": tot_pruchasers,
                                      "Average Purchase Price": avg_price,
                                      "Total Purchase Value": tot_price,
                                      "Avg Total Purchase per Person": avg_price_person})
#Formatting for DF
purch_analysis_age_df["Average Purchase Price"] = purch_analysis_age_df["Average Purchase Price"].map("${:.2f}".format)
purch_analysis_age_df["Total Purchase Value"] = purch_analysis_age_df["Total Purchase Value"].map("${:.2f}".format)
purch_analysis_age_df["Avg Total Purchase per Person"] = purch_analysis_age_df["Avg Total Purchase per Person"].map("${:.2f}".format)

purch_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#Setting up groupby and variables
spenders = purchase_data.groupby(["SN"])
individual_purch_count = spenders["SN"].count()
individual_avg_purch = spenders["Price"].mean()
individual_tot_purch = spenders["Price"].sum()

In [ ]:
#DataFrame for Ask
top_spenders_df = pd.DataFrame({"Purchase Count": individual_purch_count,
                                "Average Purchase Price": individual_avg_purch,
                                "Total Purchase Value": individual_tot_purch})

#Create ascending DF
sorted_spenders = top_spenders_df.sort_values("Total Purchase Value",ascending=False)

#DF Formatting
sorted_spenders["Average Purchase Price"] = sorted_spenders["Average Purchase Price"].map("${:.2f}".format)
sorted_spenders["Total Purchase Value"] = sorted_spenders["Total Purchase Value"].map("${:.2f}".format)

sorted_spenders.head(5)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#Create groupby and variables
items = purchase_data.groupby(["Item ID","Item Name"])
item_count = items["SN"].count()
item_price = items["Price"].mean()
item_tot = items["Price"].sum()

In [ ]:
#Create DF
popular_items_df = pd.DataFrame({"Purchase Count": item_count,
                                 "Item Price": item_price,
                                 "Total Purchase Value": item_tot})

#Sorting by Most popular purchase
sort_items_count = popular_items_df.sort_values("Purchase Count",ascending=False)

#Formatting
sort_items_count["Item Price"] = sort_items_count["Item Price"].map("${:.2f}".format)
sort_items_count["Total Purchase Value"] = sort_items_count["Total Purchase Value"].map("${:.2f}".format)

sort_items_count.head(5)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
#Dataframe based on Profit Instead
sort_items_profit = popular_items_df.sort_values("Purchase Count",ascending=False)

#Formatting
sort_items_profit["Item Price"] = sort_items_profit["Item Price"].map("${:.2f}".format)
sort_items_profit["Total Purchase Value"] = sort_items_profit["Total Purchase Value"].map("${:.2f}".format)

sort_items_profit.head(5)